/Kick_Time_Animation_Builder/Kick_Time_Animation_Builder/Kick_Time_Animation_Builder/Kick_Time_Animation_Builder.vcxproj.user
/Kick_Time_Collider_Builder/Kick_Time_Collider_Builder/Kick_Time_Collider_Builder/Kick_Time_Collider_Builder.vcxproj.user
/Kick_Time_Level_Builder/Kick_Time_Level_Builder/Kick_Time_Level_Builder/Kick_Time_Level_Builder.vcxproj.user
/Kick_Time_Level_Builder/Kick_Time_Level_Builder/Kick_Time_Level_Builder/Debug/*.obj

/Kick_Time_Animation_Builder/Kick_Time_Animation_Builder/Kick_Time_Animation_Builder/Debug/*.idb

/Kick_Time_Collider_Builder/Kick_Time_Collider_Builder/Kick_Time_Collider_Builder/Debug/*.lastbuildstate

*.pdb
*.obj
*.sdf
*.idb
*.ilk
*.lastbuildstate
*.log
*.suo
*.tlog

*.opensdf

*.exe
*.o

*.unsuccessfulbuild
